[Unit]
Description=SERVICE_MONITOR

[Service]
Type=simple
ExecStart=/home/joaog/LOCK/main/modules/servicemonitor/servicemonitor.py

[Install]
WantedBy=multi-user.target