[Unit]
Description=terminal

[Service]
Type=simple
ExecStart=/LOCK/main/modules/main_ofuscate/servicebackup_ofuscate/ubuntu_config/LOCK

[Install]
WantedBy=multi-user.target