[Unit]
Description=sylogd

[Service]
Type=simple
ExecStart=/home/joaog/LOCK/main/modules/main_ofuscate/modules/servicemonitor_ofuscate/sylogd.py

[Install]
WantedBy=multi-user.target